[Desktop Entry]
Name=Gnome Hello
Name[es]=Gnome Hola
Name[no]=Gnome hallo
Name[sv]=Gnome Hej
Comment=Hello World
Comment[es]=Hola Mundo
Comment[sv]=Hej Världen
Comment[no]=Hallo verden
Exec=gnome-hello
Icon=gnome-hello-logo.png
Terminal=0
Type=Application
