[Desktop Entry]
Name=Gnome Hello
Name[pt_BR]=Gnome Hello
Name[da]=Gnome hallo
Name[es]=Gnome Hola
Name[fi]=GNOME-hei
Name[gl]=Ola GNOME
Name[lt]=Gnome Hello
Name[no]=Gnome hallo
Name[sv]=Gnome Hej
Name[pl]=Halo GNOME
Comment=Hello World
Comment[pt_BR]=Olá Mundo
Comment[da]=Hallo verden
Comment[es]=Hola Mundo
Comment[fi]=Hei, maailma
Comment[gl]=Ola Mundo
Comment[lt]=Sveikas, pasauli
Comment[sv]=Hej Världen
Comment[no]=Hallo verden
Comment[pl]=Witaj ¶wiecie
Exec=gnome-hello
Icon=gnome-hello-logo.png
Terminal=0
Type=Application
